<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
	<!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display&display=swap" rel="stylesheet">
	<!-- Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- css-->
	<link rel="stylesheet" href="/css/style.css" type= "text/css"/>
	<script src="/js/home.js" type="text/javascript"></script>
</head>

<body background="https://img.freepik.com/free-vector/hand-drawn-fast-food-background_52683-21979.jpg?size=1300&ext=jpg">
	{{{ body }}}
</body>

</html>