
<h1>Eat-Da-Burger!!!</h1>
{{!-- <img id="hamburger-image" alt="Burger"> --}}
<h2>Enter a burger you want to eat</h2>
<h3> Click the Submit button</h3>

<ul>
  {{#each burger}}
    {{#unless this.devoured}}
</ul>



<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form> 
