body {
    height: 100px;
}

.burger-row {
    background-color: rgba(237, 243, 152, 0.8);
    /* text-align: center; */
    /* align-content: center; */
}
.jumbo-one {
    background-color: rgba(237, 243, 152, .9);
    border: solid;
    border-width: 40px;
    border-color: rgba(255,255, 255, .5);
}

.jumbo-two {
    background-color: rgba(237, 243, 152, .9);
}


h1 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

p {
    font-size: 1em;
}

h2, h3, h4, p {
font-family: 'Open Sans Condensed', sans-serif;
}

#addNewBurger {
    font-family: 'Open Sans Condensed', sans-serif;
}

.current-menu {
    padding-top: 5px;
    font-family: 'Playfair Display', serif;
}

.container-menu{
    background-color: rgba(255, 255, 255, .7);
}

.footer {
    background-color: rgba(255, 255, 255, .7);
    text-align: right;
}

.footer a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: underline;
    align-content: right;
    margin-right: 10px;
}